@inherits LayoutComponentBase
@inject ILogger<MainLayout> logger

<MApp>
    <MainAppBar />
    <MainNavigationBar />

    <MMain Class="grey lighten-4">
        <div class="ma-5">
            @Body
        </div>
    </MMain>
</MApp>

@code {
    protected override async Task OnInitializedAsync()
    {
        this.logger.LogInformation("Initialize Main Layout ...");
        await base.OnInitializedAsync();
    }
}
