@using CleanMicroserviceSystem.Aphrodite.Infrastructure.Services;
@inherits LayoutComponentBase
@inject ILogger<MainLayout> logger
@inject PageTabsService pageTabService

<MApp>
    <PPageTabsProvider>
        <MainAppBar />
        <MainNavigationBar />

        <MMain Class="grey lighten-4">
            <PPageContainer PageTabs="pageTabService.PageTabsComponent" SelfPatterns="pageTabService.SelfPatterns">
                <div class="ma-5">
                    @Body
                </div>
            </PPageContainer>
        </MMain>
    </PPageTabsProvider>
</MApp>

@code {
    protected override async Task OnInitializedAsync()
    {
        this.logger.LogInformation("Initialize Main Layout ...");
        await base.OnInitializedAsync();
    }
}
