@inject ILogger<AvatarComponent> logger
@inject NavigationManager navigationManager

<AuthorizeView>
    <NotAuthorized>
        <MTooltip Bottom Left>
            <ActivatorContent Context="tooltipContext">
                <MIcon Size="36" Color="primary" @attributes="@tooltipContext.Attrs" @onclick="OnLogin">mdi-account-circle</MIcon>
            </ActivatorContent>
            <ChildContent>
                <span>Login</span>
            </ChildContent>
        </MTooltip>
    </NotAuthorized>
    <Authorized>
        <MMenu OpenOnHover Bottom Left OffsetY>
            <ActivatorContent Context="menuContext">
                <MButton Width="36" Height="36" Icon @attributes="@menuContext.Attrs">
                    <MAvatar Size="36" Color="primary">
                        <MImage Src="/img/Avatar.png"></MImage>
                    </MAvatar>
                </MButton>
            </ActivatorContent>
            <ChildContent>
                <MList>
                    <MListItem>
                        <MListItemContent>
                            <MListItemTitle>
                                Test
                            </MListItemTitle>
                        </MListItemContent>
                    </MListItem>
                </MList>
            </ChildContent>
        </MMenu>
    </Authorized>
</AuthorizeView>

@code {
    private void OnLogin()
    {
        this.navigationManager.NavigateTo(RouterContract.LoginUri);
    }
}
