@page "/k8sconsole"
@inherits AphroditePageBase
@inject ILogger<K8SConsolePage> logger
@inject IPopupService popupService

<PageTitle>K8S Console</PageTitle>

<MCard Flat Rounded=@("xl")>
     <MCardText Class="pa-6">
         <PPageHeader Title="K8S Console" ShowFiltersByDefault>
        </PPageHeader>
    </MCardText>
</MCard>

<MContainer Fluid Class="mt-6 pa-0">
     <MButton OnClick="@(()=>this.TestCount++)">Test</MButton>
     <p class="font-weight-black">
         TODO: Implement console. @this.TestCount
     </p>
 </MContainer>

 @code {
    private int TestCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
