@page "/k8sconsole"
@using CleanMicroserviceSystem.Hermes.Contract;
@inherits AphroditePageBase
@inject ILogger<K8SConsolePage> logger
@inject IPopupService popupService
@inject K8sAgentClient k8sAgentClient

<PageTitle>K8S Console</PageTitle>

<MCard Flat Rounded=@("xl")>
     <MCardText Class="pa-6">
         <PPageHeader Title="K8S Console" ShowFiltersByDefault>
        </PPageHeader>
    </MCardText>
</MCard>

<MContainer Fluid Class="mt-6 pa-0">
     <MButton OnClick="@this.OnButtonClick">Test</MButton>
     <p class="font-weight-black">
         TODO: Implement console. @this.TestCount
     </p>
 </MContainer>

 @code {
    private int TestCount { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async void OnButtonClick()
    {
        try
        {
            var response = await this.k8sAgentClient.SendAsync(new SendParameter() { Name = "TestName" });
            this.logger.LogInformation(response);
        }
        catch (Exception ex)
        {
            this.logger.LogError(ex, "Error when send request.");
        }
    }
}
