@page "/account/login"
@layout EmptyLayout
@attribute [AllowAnonymous]
@inject ILogger<LoginPage> logger
@inject IAuthenticationTokenStore tokenStore
@inject NavigationManager navigationManager
@inject ThemisUserTokenClient themisUserTokenClient

<PageTitle>Login</PageTitle>

<MRow Class="ma-0" Style="height:100%">
    <MCol Class="d-flex align-center">
        <MImage Class="mx-auto" LazySrc="/img/LoginImage.jpg" Src="/img/LoginImage.jpg" Height=480 Width=667>
        </MImage>
    </MCol>
    <MCol Class="d-flex indigo lighten-5">
        <MCard Class="mx-auto my-auto" Rounded="@("xl")" Width=360 Loading=CardLoading>
            <ProgressContent>
                <MProgressLinear Color="primary" Height="10" Indeterminate />
            </ProgressContent>
            <ChildContent>
                <MRow Justify="@JustifyTypes.Center">
                    <MAvatar Size="64" Color="primary" Class="mx-auto my-auto">
                        <MImage Src="/img/Avatar.png"></MImage>
                    </MAvatar>
                </MRow>
                <MCardTitle>
                    <p class="text-h5 font-weight-black text-no-wrap primary--text mb-3 mx-auto">Login</p>
                </MCardTitle>
                <MCardText>
                    @if (!string.IsNullOrEmpty(Message))
                    {
                        <MAlert Border="Borders.Bottom" Type="AlertTypes.Error" Shaped>
                    @Message
                </MAlert>
                }
                <MTextField BackgroundColor="grey lighten-4"
                            @bind-Value="UserName" Label="UserName"
                            Rules="new List<Func<string, StringBoolean>>(){notEmptyRule}"
                                Clearable Flat Solo Dense>
                </MTextField>
                <MTextField BackgroundColor="grey lighten-4"
                            @bind-Value="Password" Label="Password"
                            AppendIcon="@(ShowPassword ? "mdi-eye" : "mdi-eye-off")"
                            Type="@(ShowPassword ? "text" : "password")"
                            OnAppendClick="() => ShowPassword = !ShowPassword"
                            Rules="new List<Func<string, StringBoolean>>(){notEmptyRule}"
                                Clearable Flat Solo Dense>
                </MTextField>
            </MCardText>
            <MCardActions>
                <MButton Color="primary" Loading="ButtonLoading" Disabled=ButtonDisabled Rounded Block OnClick="Login">Login</MButton>
                </MCardActions>
            </ChildContent>
        </MCard>
    </MCol>
</MRow>

@code {
    private StringBoolean CardLoading { get; set; }
    private bool ButtonLoading { get; set; }
    private bool ButtonDisabled { get; set; }
    private string UserName { get; set; }
    private string Password { get; set; }
    private bool ShowPassword { get; set; }
    private string? Message { get; set; }
    private Func<string, StringBoolean> notEmptyRule = value => !string.IsNullOrWhiteSpace(value) ? true : "It's empty.";

    private async Task Login()
    {
        if (notEmptyRule.Invoke(this.UserName) != true)
        {
            this.Message = "User name is empty.";
            return;
        }
        if (notEmptyRule.Invoke(this.Password) != true)
        {
            this.Message = "Password is empty.";
            return;
        }

        this.logger.LogInformation($"Logging in [{this.UserName}]");
        this.CardLoading = true;
        this.ButtonLoading = true;
        this.ButtonDisabled = true;
        this.Message = null;

        try
        {
            var response = await this.themisUserTokenClient.LoginUserAsync(this.UserName, this.Password);
            var content = await response.Content.ReadAsStringAsync();
            if (response.IsSuccessStatusCode)
            {
                this.logger.LogInformation($"Login [{this.UserName}] successfully.");
                await tokenStore.UpdateTokenAsync(content);
                this.navigationManager.NavigateTo(RouterContract.DefaultUri);
            }
            else
            {
                this.logger.LogWarning($"Login [{this.UserName}] failed: \n{content}");
                this.Message = content;
            }
        }
        catch (Exception ex)
        {
            this.logger.LogError(ex, $"Login [{this.UserName}] meets error.");
            this.Message = ex.Message;
        }
        finally
        {
            this.CardLoading = false;
            this.ButtonLoading = false;
            this.ButtonDisabled = false;
        }
    }
}
