@page "/account/profile"
@inherits AphroditePageBase
@inject ILogger<ProfilePage> logger

<MContainer>
    <AuthorizeView>
        <Authorized>
            <MAvatar Size="64">
                <MImage Src="/img/Avatar.png"></MImage>
            </MAvatar>
            <div style="height:1000px"></div>
        </Authorized>
    </AuthorizeView>
</MContainer>

@code {

}
