<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="logDirectory" value=".\logs"/>

	<targets>
		<target xsi:type="Console" name="Console" layout="${MicrosoftConsoleLayout}"/>
		<target xsi:type="File" keepFileOpen="true" name="ThemisNTLMLog"	fileName="${logDirectory}\ThemisNTLM_Log_${shortdate}.log"
				layout="${longdate}	${event-properties:item=EventId_Id}	${uppercase:${level}}	${logger}	${message}	${exception:format=tostring}" />
		<target xsi:type="File" keepFileOpen="true" name="ThemisNTLMDangerLog" fileName="${logDirectory}\ThemisNTLM_DangerLog_${shortdate}.log"
				layout="${longdate}	${event-properties:item=EventId_Id}	${uppercase:${level}}	${logger}	${message}	${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
		<logger name="*" minlevel="Info" writeTo="ThemisNTLMLog" />
		<logger name="*" minlevel="Warn" writeTo="ThemisNTLMDangerLog" />
	</rules>
</nlog>